h1{
    border: 2px solid black;
    width: 150px;
    height: 150px;
    padding: 20px;
  margin-left: 200px;
  margin-top: 150px;
  border-radius: 150px;
  box-shadow: 10px 10px  10px red;
  background-color: green;
}
#a1{
    border: 2px solid red;
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px;
    box-shadow: 10px 10px 10px;
    background-color: yellow;
    text-align: center;
    box-shadow: 10px 0px 10px green;
   text-shadow: 10px 0px 10px rgb(12, 247, 59);
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-around;
  
   


}
#a2{ border: 2px solid rgb(56, 7, 233);
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px;
    /* border-radius: 50%; */
    box-shadow: 10px 10px 10px;
   text-shadow: 10px 10px 20px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#a3{
    border: 2px solid rgb(39, 245, 11);
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px;
    /* border-radius: 50%; */
    box-shadow: 10px 10px 10px 10px;
    text-shadow: 10px 10px -20px 10px crimson;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
#a4{
    border: 2px solid rgb(231, 248, 5);
    width: 200px;
    height: 200px;
    float:left;
    margin: 20px;
    /* border-radius: 50%; */
    box-shadow: 10px 10px 10px 10px coral;
    background-color: rgb(248, 6, 6);
    display: flex;
    justify-content: center;
    align-items: center;
} 
#a5{
    border: 2px solid rgb(251, 5, 198);
    width: 200px;
    height: 200px;
    float: left;
    
    margin: 20px;
    /* border-radius: 50%; */
    box-shadow: 10px 10px 10px;
    background-color: rgb(126, 9, 235);
    display: flex;
    justify-content: center;
    align-items: center;
}